div{
    display: flex;
    flex-direction: column;
    background-color: rgb(109, 124, 139);
    margin: 50px;
    align-items: center;
    flex-direction: column-reverse;
}
img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 0 25px;
}